@font-face {
  font-family: "MontserratMedium", sans-serif;
  src: url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium-Regular", sans-serif;
  src: url("../fonts/Oxanium-Regular.woff2") format("woff2"),
    url("../fonts/Oxanium-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium-Medium", sans-serif;
  src: url("../fonts/Oxanium-Medium.woff2") format("woff2"),
    url("../fonts/Oxanium-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium-Bold", sans-serif;
  src: url("../fonts/Oxanium-Bold.woff2") format("woff2"),
    url("../fonts/Oxanium-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Regular", sans-serif;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Medium", sans-serif;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}