@media (max-width: 1170px) {
  .packets__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1130px) {
  .menu {
    order: -1;
    flex-grow: 1;
    margin-left: -10px;
  }
  .header__logo {
    flex-grow: 1;
  }
  .menu-burger {
    display: flex;
    margin-left: 18px;
    position: relative;
    z-index: 300;
    transition: all 0.3s ease-in-out;
  }

  .menu__list {
    top: 0;
    position: absolute;
    display: block;
    z-index: 200;
    width: 340px;
    background: linear-gradient(to bottom, #1b1c21 73px, #141519 0%);
    padding: 95px 20px 20px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.35);
    height: 100vh;
    transform: translateX(-150%);
    transition: all 0.3s ease-in-out;
  }
  .menu-burger.active span {
    position: absolute;
  }
  .menu__list.active {
    display: block;
    transform: translateX(0);
  }
  .menu-burger.active span:nth-child(2) {
    display: none;
  }
  .menu-burger.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  .menu-burger.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu-burger.active::before {
    content: "Вход";
    position: absolute;
    left: 50px;
    color: #fff;
    font-size: 24px;
    font-family: "Oxanium-Bold", sans-serif;
    font-weight: 700;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 0;
    margin-top: 38px;
  }
  .finance__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .finance__grid-item--btn {
    grid-column: 2 span;
    display: flex;
    align-items: center;
  }
  .finance__grid-btn {
    flex-basis: content;
    margin-left: auto;
    margin-top: 0;
  }
  .finance__grid-item--url {
    grid-column: 2 span;
  }
  .finance__item-operation {
    max-width: 380px;
  }
}
@media (max-width: 1030px) {
  .personal__img {
    max-width: 50%;
  }
}
@media (max-width: 880px) {
  .packets__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .documents__inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .finance__item,
  .finance__item-header {
    grid-template-columns: 1fr 1fr;
  }
  .finance__item.active {
    border: 2px solid var(--accent-color);
  }
  .finance__item-operation {
  }
  .finance__item-header .finance__item-operation {
    display: none;
  }
}
@media (max-width: 820px) {
  .header .select-box__lang {
    display: none;
  }
  .sun-box__img {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .documents__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .finance__item {
    flex-wrap: wrap;
  }
  .finance__item-operation {
    order: 1;
    width: 100%;
    padding-top: 10px;
    max-width: 100%;
  }
  .finance__item-category {
    padding-left: 30px;
    max-width: 100%;
  }
  .finance__item:first-child .finance__item-operation {
    display: none !important;
  }
  .error {
    padding-top: 24%;
  }
  .error__top-img {
    max-width: 200px;
  }
  .error__top-num {
    font-size: 160px;
  }
  .error__top {
    margin-bottom: 50px;
  }
  .team__header-bonus,
  .team__header-amount,
  .team__list-bonus,
  .team__list-amount {
    visibility: hidden;
  }
  .team__list-box.modal .team__list-amount,
  .team__list-box.modal .team__list-bonus {
    visibility: visible;
  }
  .team__list-person {
    width: 174px;
    text-overflow: ellipsis;
    /* overflow: hidden; */
  }
}
@media (max-width: 720px) {
  .sun-box__text-num {
    font-size: 66px;
    line-height: 77px;
  }
}
@media (max-width: 676px) {
  .marketing__inner {
    display: block;
  }
  .marketing__item {
    flex-direction: row;
    width: 100%;
    min-height: 250px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
  }
  .password-form {
    width: 622px;
  }
}
@media (max-width: 645px) {
  .password-form {
    width: 590px;
  }
  .packets__modal-box {
    width: 90%;
  }

  .marketing__item-desc {
    font-size: 20px;
  }
  .marketing__inner {
    display: block;
  }
  .marketing__item-img {
    margin-bottom: 0;
    margin-right: 30px;
    width: 170px;
  }
  .team__list-person span {
    width: 226px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }
  .refer-bonus__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 638px) {
  .login-form__wrapper {
    padding: 0 30px 70px 30px;
  }
  .registration-form .login-form__logo {
    margin-right: 0;
  }
  .password-form {
    width: auto;
  }
  .password-form .login-form__wrapper {
    padding: 0 90px 90px 90px;
  }
  .password-form .registration-form__capcha-label {
    width: 100%;
  }
  .sun-box__text-num {
    font-size: 52px;
    line-height: 62px;
  }
  .header .select-box__user .jq-selectbox__select-text {
    display: none;
  }
  .select-box__user-icon {
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 3px;
  }
}
@media (max-width: 617px) {
  .personal__img {
    max-width: 350px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .personal__inner {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .finance__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .finance__grid-item--url {
    grid-column: 1 span;
  }
  .finance__grid-item--btn {
    grid-column: 1 span;
  }
  .finance__item {
    grid-template-columns: 1fr 1fr;
  }
  .finance__item-category {
    order: 1;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-top: 10px;
  }
  .finance__item:first-child .finance__item-category {
    display: none;
  }
  .finance__item-operation {
    overflow: auto;
    text-overflow: unset;
    overflow: visible;
  }
  .privasy__title {
    font-size: 30px;
    line-height: 40px;
  }
  .personal__inner {
    flex-direction: column;
  }
  .personal__desc {
    position: relative;
  }
  .personal__info {
    margin-bottom: 15px;
  }
  .personal__levels-list {
    margin-bottom: 20px;
  }
  .personal__img {
    order: -1;
  }
  .personal__desc-footer {
    max-width: 480px;
  }
  .personal__link {
    margin-top: 10px;
  }
}
@media (max-width: 550px) {
  .packets__inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .packets__item-top {
    padding-left: 15%;
    cursor: pointer;
  }
  .documents__inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .documents__item {
    max-height: 160px;
    min-height: auto;
    display: flex;
  }
  .documents__item-img {
    object-fit: contain;
    width: auto;
    margin-right: auto;
  }
  .documents__item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
  }
  .documents__item.documents__item--download-all {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .documents__item-wrapper {
    width: 130px;
  }
  .documents__item.documents__item--download-all .documents__item-img {
    max-width: 50px;
    margin-left: 23px;
  }
  .documents__item.documents__item--download-all .documents__item-desc {
    flex: none;
  }
  .documents__item.documents__item--download-all .documents__item-wrapper {
    position: relative;
    flex: none;
  }
  .documents__item.documents__item--download-all
    .documents__item-wrapper::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    right: -10px;
    top: 21px;
    transform: rotate(90deg);
    background: #616263;
  }
  .finance__grid-item--btn {
    flex-direction: column;
    align-items: flex-start;
  }
  .finance__grid-btn {
    margin-top: 30px;
    margin-left: 0;
    width: auto;
  }
  .finance__grid-copy span {
    display: none;
  }
  .finance__grid-copy::after {
    transform: translateY(0);
  }
  .finance__item.active {
    grid-template-columns: 1fr 1fr;
  }
  .error__top-img {
    max-width: 130px;
  }
}

@media (max-width: 530px) {
  .password-form .login-form__wrapper {
    padding: 0 50px 50px 50px;
  }
  .team__filter {
    display: none;
  }
}
@media (max-width: 510px) {
  .login-form__wrapper {
    padding: 0 20px 50px 20px;
  }
  .header .login-form__logo {
    padding-top: 15px;
    margin-right: auto;
    margin-left: -20px;
    margin-bottom: 10px;
  }
  .login-form__social-item {
    width: 50px;
    height: 50px;
  }
  .login-form__box {
    flex-wrap: wrap;
  }
  .login-form__box a {
    margin-top: 20px;
  }
  .login-form__registration {
    width: 100%;
  }
  .registration-form__top {
    flex-direction: column-reverse;
  }
  .registration-form .login-form__logo {
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .main {
    min-height: 100vh;
    height: auto;
  }
  .login-form__checkbox {
    display: flex;
    align-items: center;
  }
  .jq-checkbox.login-form__checkbox-input {
    flex-shrink: 0;
  }
  .login-form__submit {
    width: 100%;
  }

  .registration-form .login-form__registration {
    width: auto;
  }
  .login-form__box {
    display: block;
  }
  .registration-form .login-form__box a {
    margin-top: 40px;
  }
  .password-form .login-form__wrapper {
    padding: 0 20px 50px 20px;
  }
}
@media (max-width: 490px) {
  .registration-form__checkbox {
    align-items: flex-start;
  }
  .sun-box__text-num {
    font-size: 41px;
    line-height: 50px;
  }
  .privasy__title {
    font-size: 25px;
    line-height: 35px;
  }
  .error__top-img {
    max-width: 90px;
  }
  .error__top-num {
    font-size: 95px;
  }
  .error__top-num {
    font-size: 95px;
  }
  .marketing__item {
    min-height: 200px;
  }
  .marketing__item-img {
    width: 100px;
  }
  .personal__img {
    max-width: 100%;
  }
  .team__list-person span {
    width: 174px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }
  .refer-bonus__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 420px) {
  .login-form__social-item {
    width: 40px;
    height: 40px;
  }
  .login-form__social-item + .login-form__social-item {
    margin-left: 15px;
  }
  .menu__list.active {
    width: 105%;
  }
  .sun-box__text-num {
    font-size: 32px;
    line-height: 42px;
  }
  .sun-box__text-name {
    font-size: 21px;
    line-height: 22px;
  }
  .packets__item-top {
    padding-left: 24px;
  }
  .documents__item {
    max-height: 120px;
  }
  .documents__item-desc {
    margin-right: 0;
  }
  .finance__grid-btn {
    width: 100%;
  }
  .team__tabs {
    /* overflow-x: scroll; */
    white-space: nowrap;
  }
  /* .team__tabs-btn {
    border-color: transparent;
  } */
}
@media (max-width: 350px) {
  .login-form__social-item + .login-form__social-item {
    margin-left: 10px;
  }
  .menu__list.active {
    width: 106%;
  }
  .packets__modal-title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 54px;
  }
  .packets__modal-text {
    max-width: 248px;
    margin-bottom: 48px;
  }
  .documents__item-desc {
    padding-left: 0;
  }
  .team__tabs{
    font-size: 14px;
  }
}

@media (max-height: 680px) and (max-width: 400px){
  /* .personal__img {
    max-width: 400px;
  } */
  .personal__inner {
    margin-top: 30px;
  }
  .personal__info {
    margin-bottom: 15px;
  }
  .personal__levels-list {
    margin-bottom: 20px;
  }
}

@media (max-height: 480px) {
  .personal__img {
    max-width: 270px;
    /* margin-top: -130px; */
  }
}
