.password-form{
    width: 652px;
}
.password-form .registration-form__capcha-label{
    margin-bottom: 0;
}
.password-form .login-form__box{
    margin-top: 29px;
}
.password-form  .login-form__box{
    margin-bottom: 0;
}
.password-form .jq-checkbox.login-form__checkbox-input{
    border: none;
}
.password-form  .jq-checkbox.login-form__checkbox-input{
    background: #27282e;
}