html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
body {
  /* font-family: 'Oxanium', cursive; */
  font-family: "Oxanium-Regular", sans-serif;
  color: #2f3035;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #141519;
  counter-reset: section;
  min-width: 320px;
  overflow-x: hidden;
}
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}
.container-fluid {
  max-width: 810px;
  margin: 0 auto;
  padding: 0 10px;
}

:root {
  --prime-color: #dcdcdc;
  --prime-color-opacity: rgba(220, 220, 220, 0.3);
  --background-color: #1b1c21;
  --accent-color: #00ff38;
  --second-accent-color: #328ed3;
}

.main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.login-form {
  max-width: 652px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
.login-form__logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  line-height: 19px;
  color: #fff;
  margin: 0 33px 37px auto;
  padding-top: 37px;
}
.login-form__wrapper {
  padding: 0 90px 100px 100px;
}
.login-form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 23px;
  color: var(--prime-color);
}
.login-form__options {
  color: #808080;
  margin-bottom: 28px;
}
.login-form__option {
  display: none;
}
.login-form__option.checked + .login-form__option-text {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.login-form__option-text {
  padding-bottom: 4px;
  margin-right: 18px;
  cursor: pointer;
}
.login-form__input-text,
.login-form__input-password {
  font-weight: 400;
  font-family: "Oxanium-Regular", sans-serif;
  width: 100%;
  padding: 14px 17px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #27282e;
  border-radius: 5px;
  margin-bottom: 27px;
}
.login-form__input-text::placeholder,
.login-form__input-password::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oxanium-Regular", sans-serif;
  color: var(--prime-color-opacity);
}
.jq-checkbox.login-form__checkbox-input {
  width: 24px;
  height: 24px;
  background: transparent;
  box-shadow: none;
  border-color: var(--accent-color);
  border-radius: 2px;
  margin-right: 0;
  vertical-align: 0%;
  vertical-align: -6px;
}
.login-form .jq-checkbox.checked .jq-checkbox__div {
  margin: 5px 0 0 4px;
  border: none;
  background-image: url(../images/checked-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 14px;
  height: 10px;
  transform: rotate(0);
}
.login-form__checkbox-text {
  color: var(--prime-color);
  margin-left: 12px;
}
.password-form .login-form__checkbox-text {
  font-family: "Oxanium-Regular", sans-serif;
}
.login-form__checkbox-link {
  color: var(--second-accent-color);
}
.login-form__box {
  margin-top: 27px;
  display: flex;
  align-items: center;
  margin-bottom: 73px;
}
.login-form__submit {
  font-size: 17px;
  font-weight: 400;
  padding: 18px 45px;
  color: #fff;
  background-color: #00bf1f;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.login-form__registration {
  margin-left: auto;
  margin-right: 24px;
}
.login-form__registration,
.login-form__forgot-password {
  color: var(--second-accent-color);
}
.login-form__social-text {
  color: #8f8f8f;
  font-family: "MontserratMedium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 25px;
}
.login-form__social-item {
  width: 64px;
  height: 64px;
  border: 1px solid #27282e;
  border-radius: 7px;
}
.login-form__social-item + .login-form__social-item {
  margin-left: 24px;
}
.login-form__social-links {
  display: flex;
  align-items: center;
}
.login-form__social-link {
  display: grid;
  place-items: center;
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.login-form__social-link img {
  place-items: center;
}
.login-form__social-item svg {
  transition: all 0.2s ease-in-out;
}
.login-form__social-item:hover .login-form__social-link {
  background-color: var(--second-accent-color);
}
.login-form__social-item:hover .login-form__social-link path {
  fill: #fff;
}

/* ============ header ================ */

.header {
  border-bottom: 1px solid #494646;
}

.header__inner {
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__logo {
  margin-left: 0;
}
.header .select-box {
  position: absolute;
  right: 0;
}
.header .select-box__lang {
  right: 120px;
}
.header .select-box__user .jq-selectbox__select-text {
  color: #fff;
  max-width: 80px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.menu {
  margin-right: auto;
}
.menu__list {
  display: flex;
  /* font-family: "Oxanium-Medium", sans-serif; */
  font-weight: 500;
}
.menu__list-link {
  font-family: "Oxanium-Medium", sans-serif;
  font-weight: 500;
  margin-left: 6px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.menu__list-item {
  display: flex;
  align-items: center;
  position: relative;
}
.menu__list-item svg path {
  transition: all 0.2s ease-in-out;
}
.menu__list-item--finance {
  transition: all 0.2s ease-in-out;
}
.menu__list-item + .menu__list-item {
  margin-left: 40px;
}
.menu__list-item:hover .menu__list-link,
.menu__list-item--current .menu__list-link {
  color: var(--accent-color);
}
.menu__list-item:hover svg path,
.menu__list-item--current svg path {
  stroke: var(--accent-color);
}
.menu__list-item--packets:hover svg path,
.menu__list-item--current svg path {
  fill: var(--accent-color);
}
.menu__list-item--question.menu__list-item--current svg path,
.menu__list-item--documents.menu__list-item--current svg path,
.menu__list-item--finance svg path,
.menu__list-item--marketing.menu__list-item--current svg path,
.menu__list-item--team.menu__list-item--current svg path {
  fill: none;
}
.menu__list-link {
  color: #b4b4b4;
}
.language-btn {
  color: #626265;
}
.user-btn {
  color: #fff;
}
.jq-selectbox__select {
  font: 16px/32px "Rubik", sans-serif;
}
.header .jq-selectbox__select {
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0 30px 0 10px;
}
.header .jq-selectbox.focused .jq-selectbox__select {
  border: none;
}
.header .jq-selectbox__trigger {
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.header .jq-selectbox__trigger-arrow {
  display: none;
}
.header .jq-selectbox__dropdown {
  width: 120px;
  background-color: #1b1c21;
  color: #fff;
  border: none;
  padding: 10px 0;
  z-index: 100;
}
.header .jq-selectbox__dropdown li {
  color: #fff;
  padding: 4px 20px;
  margin-bottom: 10px;
}
.header .jq-selectbox__dropdown li:hover {
  color: var(--accent-color);
  background-color: #181818;
}
.header .jq-selectbox li.selected {
  background-color: transparent;
}

.header .language-btn.opened + .select-box__user-icon path {
  stroke: var(--accent-color);
}
.header .language-btn.opened .jq-selectbox__select-text {
  color: var(--accent-color);
}
.header .language-btn.opened .jq-selectbox__trigger {
  background-image: url(../images/arrow-up--green.svg);
}

/* ============ main ================ */

.slider {
  padding: 24px 0;
}
.slider {
  background-color: #1d1f25;
}
.slider-box {
}
.slider-box__item-wrapper {
  text-align: center;
}
.slider-box__item {
  padding: 7px 11px 12px;
  width: 116px;
  border-radius: 7px;
  border: 1px solid #404040;
}
.slider-box__item-num {
  font-family: "Oxanium", cursive;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 2px;
}
.slider-box__item-text {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.slider-box__item--demo {
  /* background-color: #e5e5e5; */
  transition: all 0.2s ease-in-out;
}
.slider-box__item--demo .slider-box__item-num {
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.slider-box__item--demo .slider-box__item-text {
  color: #00ff38;
  transition: all 0.2s ease-in-out;
}
.slider-box__item--demo:hover {
  background-color: #1d1f25;
}
.slider-box__item--demo:hover .slider-box__item-num {
  color: #818181;
}
.slider-box__item--demo:hover .slider-box__item-text {
  color: #818181;
}
.slider-box__item--silver {
  transition: all 0.2s ease-in-out;
  background: linear-gradient(
    238.54deg,
    #a8a8a8 -18.53%,
    #dcdcdc 40.08%,
    #dcdcdc 94%
  );
}
.slider-box__item--silver .slider-box__item-num {
  transition: all 0.2s ease-in-out;
  color: #000;
}
.slider-box__item--silver .slider-box__item-text {
  transition: all 0.2s ease-in-out;
  color: #505050;
}
.slider-box__item--silver:hover {
  background: #141519;
}
.slider-box__item--silver:hover .slider-box__item-num {
  color: #c8c8c8;
}
.slider-box__item--silver:hover .slider-box__item-text {
  color: #c8c8c8;
}

.slider-box__item--gold {
  transition: all 0.2s ease-in-out;
  background: linear-gradient(
    66.18deg,
    #e1bf99 6.62%,
    #b78955 90.45%,
    #e1bf99 137.48%
  );
}
.slider-box__item--gold .slider-box__item-num {
  transition: all 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.75);
}
.slider-box__item--gold .slider-box__item-text {
  transition: all 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.75);
}
.slider-box__item--gold:hover {
  background: #141519;
}
.slider-box__item--gold:hover .slider-box__item-num {
  color: #ba8c5a;
}
.slider-box__item--gold:hover .slider-box__item-text {
  color: #ba8c5a;
}
.slider-box__item--platinum {
  transition: all 0.2s ease-in-out;
  background: linear-gradient(
    238.72deg,
    #d7deee -33.63%,
    #b3b8c4 -0.3%,
    #d7deee 101.91%
  );
}
.slider-box__item--platinum .slider-box__item-num {
  transition: all 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.75);
}
.slider-box__item--platinum .slider-box__item-text {
  transition: all 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.75);
}
.slider-box__item--platinum:hover {
  background: #141519;
}
.slider-box__item--platinum:hover .slider-box__item-num {
  color: #b7bcc8;
}
.slider-box__item--platinum:hover .slider-box__item-text {
  color: #b7bcc8;
}
.slider__btn {
  border: none;
  background: transparent;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.slider__container {
  max-width: 1170px;
  padding: 0 40px;
}
.slider__btn-prev {
  left: -32px;
}
.slider__btn-next {
  right: -28px;
}
.slider__btn:hover path {
  stroke: var(--accent-color);
  opacity: 1;
}
.sun-box__inner {
  display: grid;
  place-items: center;
  position: relative;
}
.sun-box__container {
  margin-top: 22px;
  display: grid;
  place-items: center;
}
.sun-box__img {
  max-width: 85%;
}
.sun-box__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sun-box__text-name {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}
.sun-box__text-num {
  font-family: "Oxanium", cursive;
  font-weight: 700;
  font-size: 70px;
  line-height: 101px;
  color: #fff;
}
.sun-box__text-info {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
}
.menu-burger {
  margin-top: -1px;
  width: 27px;
  height: 20px;
  background-color: transparent;
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  cursor: pointer;
}
.menu-burger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}
.select-box__user-icon {
  display: none;
}

/* ============ packets ================ */
.packets {
  padding-bottom: 50px;
}
.packets__title {
  font-size: 36px;
  line-height: 45px;
  margin-top: 22px;
  margin-bottom: 12px;
  color: #f5f5f5;
}
.packets__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}
.packets__item {
  background-color: #1d1f25;
}

.packets__item-top {
  padding: 26px 24px 30px;
  /* font-family: "Inter", sans-serif; */
}
.packets__item-name {
  font-family: "Oxanium", cursive;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 9px;
  color: #000;
}
.packets__item-price {
  font-family: "Oxanium", cursive;
  font-size: 36px;
  line-height: 45px;
  color: #000;
  margin-bottom: 16px;
}
.packets__item-days {
  color: rgba(0, 0, 0, 0.66);
}
.packets__item-days span {
  font-family: "Oxanium", cursive;
  /* font-family: "Inter", sans-serif; */
}
.packets__item-bottom {
  padding: 30px 24px 35px;
  text-align: center;
}
.packets__item-info {
  color: #5f6377;
  margin-bottom: 8px;
}
.packets__item-percent {
  color: #f5f5f5;
  margin-bottom: 45px;
}
.packets__item-programm {
  color: rgba(255, 255, 255, 0.33);
  margin-bottom: 30px;
}
.packets__item-btn {
  font-family: "Inter", sans-serif;
  background: #24262c;
  border-radius: 5px;
  border: none;
  width: 180px;
  color: rgba(0, 0, 0, 0.95);
  padding: 15px 37px;
  cursor: pointer;
  font-size: 19px;
}
.packets__item--demo .packets__item-name {
  color: var(--accent-color);
}
.packets__item--demo .packets__item-price {
  color: #f5f5f5;
}
.packets__item--demo .packets__item-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.packets__item--demo .packets__item-days {
  color: #f5f5f5;
}
.packets__item--demo .packets__item-btn {
  color: #dcdcdc;
}
.packets__item--silver .packets__item-top {
  background: linear-gradient(
    238.54deg,
    #a8a8a8 -18.53%,
    #dcdcdc 40.08%,
    #dcdcdc 94%
  );
}
.packets__item--silver .packets__item-btn {
  background: linear-gradient(
    238.54deg,
    #a8a8a8 -18.53%,
    #dcdcdc 40.08%,
    #dcdcdc 94%
  );
}
.packets__item--gold .packets__item-top {
  background: linear-gradient(
    66.18deg,
    #e1bf99 6.62%,
    #b78955 90.45%,
    #e1bf99 137.48%
  );
}
.packets__item--gold .packets__item-btn {
  background: linear-gradient(
    66.18deg,
    #e1bf99 6.62%,
    #b78955 90.45%,
    #e1bf99 137.48%
  );
}
.packets__item--platinum .packets__item-top {
  background: linear-gradient(
    238.72deg,
    #d7deee -33.63%,
    #b3b8c4 -0.3%,
    #d7deee 101.91%
  );
}
.packets__item--platinum .packets__item-btn {
  background: linear-gradient(
    238.72deg,
    #d7deee -33.63%,
    #b3b8c4 -0.3%,
    #d7deee 101.91%
  );
}
.packets__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  z-index: 400;
  min-height: 100vh;
}
.packets__modal.active {
  transform: scale(1);
}
.packets__modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1c21;
  width: 586px;
  min-height: 428px;
}
.packets__modal-title {
  font-size: 24px;
  line-height: 30px;
  color: #f5f5f5;
  margin-bottom: 65px;
}
.packets__modal-text {
  text-align: center;

  color: #5f6377;
  max-width: 306px;
  margin-bottom: 65px;
}
.packets__modal-btn {
  padding: 15px 50px;
  color: #dcdcdc;
  background-color: #24262c;
  align-self: center;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.packets__modal-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.packets__item-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.main-packets {
  min-height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
  margin-bottom: 50px;
  text-align: center;
}

/* ============ documents ================ */

.documents {
}
.documents__title {
  margin-top: 22px;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 45px;
  color: #f5f5f5;
}
.documents__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin-bottom: 50px;
}
.documents__item {
  background-color: #1d1f25;
  min-height: 390px;
}
.documents__item-img {
  max-height: 275px;
  object-fit: cover;
  width: 100%;
}
.documents__item-desc {
  text-align: center;
  padding: 36px 20px 24px;
}
.documents__item-name {
  color: #fff;
  margin-bottom: 12px;
}
.documents__item-link {
  color: #328ed3;
}
.documents__item.documents__item--color-link .documents__item-link {
  color: var(--accent-color);
}
.documents__item.documents__item--download-all .documents__item-img {
  width: auto;
  max-width: 104px;
}
.documents__item.documents__item--download-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.documents__item-wrapper {
  display: flex;
}
.documents__container {
  padding: 24px;
}

/* ============== finance ============== */

.finance {
  margin-bottom: 100px;
}
.finance__title {
  font-size: 36px;
  line-height: 45px;
  margin-top: 22px;
  margin-bottom: 12px;
  color: #ffffff;
}
.finance__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}
.finance__grid-item {
  background-color: #1d1f25;
  padding: 27px 24px 30px;
}
.finance__grid-num {
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 8px;
  font-family: "Oxanium", cursive;
}
.finance__grid-desc {
  color: rgba(255, 255, 255, 0.66);
}
.finance__grid-item--btn {
}
.finance__grid-btn {
  border: none;
  color: #fff;
  background-color: #00bf1f;
  margin-top: 30px;
  padding: 13px 78px 15px;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
}
.finance__grid-item--url {
  max-height: 135px;
  padding: 18px 30px 30px 17px;
  grid-column: 3 span;
}
.finance__grid-text {
  color: #ffffff;
  margin-bottom: 19px;
}
.finance__grid-box {
  position: relative;
}
.finance__grid-input {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  padding: 14px 120px 14px 17px;
  background-color: #1b1c21;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #27282e;
}
.finance__grid-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #dcdcdc;
}
.finance__grid-copy {
  position: absolute;
  right: 15px;
  top: 13px;
  padding-left: 30px;
  cursor: pointer;
}
.finance__grid-copy span {
}
.finance__grid-copy::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/copy.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
.copy-finish {
  position: absolute;
  top: 56px;
  right: 0;
  padding: 10px;
  color: var(--prime-color);
  background-color: #1b1c21;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.copy-finish.active {
  opacity: 1;
  visibility: visible;
}
.finance__history {
  margin-top: 40px;
}
.finance__history-title {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}

.finance__inner {
  color: #dcdcdc;
}
.finance__inner p + p {
  /* padding-left: 15px; */
}
.finance__item,
.finance__item-header {
  border: 2px solid transparent;
  width: 100%;
  background-color: #1b1c21;
  padding: 14px 17px;
  margin-bottom: 7px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.finance__item:not(:first-child):hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.finance__item-header {
  color: rgba(220, 220, 220, 0.66);
}

.finance__item-date {
  min-width: 90px;
  margin-right: 10px;
  font-family: "Oxanium", cursive;
}
.finance__item--header .finance__item-sum,
.finance__item--header .finance__item-date {
  font-family: "Oxanium-Regular", sans-serif;
}

.finance__item-category {
  min-width: 200px;
  max-width: 200px;
  margin-right: 15px;
}
.finance__item-operation {
  max-width: 600px;
  text-align: left;
}
.finance__item-sum {
  justify-self: flex-end;
  flex-shrink: 0;
  margin-left: auto;
  font-family: "Oxanium", cursive;
}

.finance__table-cell:nth-child(2),
.finance__table-cell:nth-child(3) {
}

/* ============= question =============== */

.question {
}

.question__title {
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  margin: 22px 0 13px;
}
.question__list {
}
.question__list-item {
  background-color: #1b1c21;
  padding: 18px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #27282e;
}
.question__list-item:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.question__list-title {
  padding-left: 33px;
  color: #dcdcdc;
  position: relative;
}
.question__list-title:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/arrow-right-question.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2 ease-in-out;
}
.question__list-title.active:before {
  background-image: url(../images/arrow-down-question.svg);
}
.question__list-drop {
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.66);
  display: none;
}

/* =========== privasy ============= */

.privasy__title {
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 20px;
}
.privasy__text {
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.66);
}

/* =========== error ============= */

.error {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
}

.error__container {
  height: calc(57px - 100vh);
}

.error__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error__top {
  display: flex;
  align-items: center;
}
.error__top-num {
  font-size: 259.286px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 700;
}
.error__top-img {
}
.error__title {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.66;
  margin-bottom: 54px;
}
.error__link {
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 18px 30px;
  border-radius: 5px;
}

/* =========== marketing ============= */

.marketing {
}
.marketing__title {
  margin-top: 22px;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 20px;
}
.marketing__inner {
  display: flex;
  justify-content: space-between;
}
.marketing__item {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(17, 17, 17, 0.33);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 5px;
  min-height: 433px;
  padding: 20px;
}
.marketing__item:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.marketing__item-img {
  margin-bottom: 100px;
}
.marketing__item-desc {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

/* =========== personal-page ============= */

.personal__container {
  max-width: 1040px;
  padding: 0 40px;
  margin: 0 auto;
}

.personal {
  height: 100vh;
}

.personal__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 50px;
}
.personal__desc {
  width: 100%;
}
.personal__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #dcdcdc;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}
.personal__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #dcdcdc;
  margin-bottom: 20px;
}
.personal__info {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #808080;
  margin-bottom: 40px;
}
.personal__levels {
}
.personal__levels-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  /* font-family: "Inter", sans-serif; */
  font-weight: 500;
  margin-bottom: 12px;
}
.personal__levels-list {
  max-width: 160px;
  margin-bottom: 40px;
}
.personal__levels-item {
  /* font-family: "Inter", sans-serif; */
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
}
.personal__levels-item span {
  font-family: "Oxanium", cursive;
  margin-left: 40px;
  margin-left: auto;
}
.personal__levels-item + .personal__levels-item {
  margin-top: 12px;
}
.personal__desc-footer {
  max-width: 345px;
  padding: 17px 24px;
  border-radius: 10px;
  border: 1px solid #b4b4b4;
  color: #c4c4c5;
  /* font-family: "Inter", sans-serif; */
  font-weight: 500;
}
.personal__img {
  max-width: 650px;
  margin-left: 20px;
}
.personal__link {
  /* font-family: "Inter", sans-serif; */
  font-weight: 500;
  margin-top: 30px;
  padding-left: 30px;
  position: relative;
}
.personal__link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* ============== team =============== */

.team {
}
.container {
}
.team__title {
  margin-top: 22px;
  margin-bottom: 17px;
  font-size: 36px;
  line-height: 45px;
  color: #f5f5f5;
}
.team__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  /* padding-bottom: 15px; */
}
.team__tabs {
  border-bottom: 2px solid #27282e;
  flex: 1;
}
.team__filter {
  width: 80px;
  text-align: right;
  background: #1b1c21;
  border: 1px solid #27282e;
  border-radius: 5px;
  padding: 9px 12px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.team__filter::before {
  content: "";
  position: absolute;
  right: 30%;
  top: 50%;
  width: 28px;
  height: 1px;
  transform: rotate(90deg);
  background-color: #4a4a4e;
}
.team__filter-img {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.team__filter-img svg path {
  transition: all 0.2s ease-in-out;
}
.team__filter-img:hover path {
  fill: #fff;
}
.team__tabs-btn {
  color: #626265;
  border: none;
  background: transparent;
  padding-bottom: 24px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  margin-right: 20px;
}
.team__tabs-btn--active {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.team__img {
}
.team__box {
}
.team__header {
  background: #1b1c21;
  border-radius: 5px;
  color: #dcdcdc;
  cursor: pointer;
  position: relative;
  padding: 14px 23px 14px 57px;
  margin-bottom: 10px;
  display: flex;
}
.team__header-num {
}
.team__header-amount {
  margin-left: auto;
}
.team__header-person {
  margin-left: 40px;
}
.team__header-bonus {
  width: 170px;
  text-align: right;
}
.team__list:not(.team__list--first-line) {
  display: none;
}
/* .team__list:not(:first-child){
  display: none;
} */
.team__list-item--border {
  border: 1px solid #27282e;
  border-bottom: none;
  margin-bottom: 10px;
}

.team__list-item {
  background: #1b1c21;
  border-radius: 5px;
  color: #dcdcdc;
  cursor: pointer;
  position: relative;
}
.team__list-box {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.team__list-box.modal {
  margin-top: 58px;
  background-color: #1b1c21;
  width: 280px;
  height: 220px;
  display: block;
  padding: 20px;
  z-index: 10000;
}
.team__list-box.modal .team__list-person {
  position: static;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  color: #f5f5f5;
  /* margin-top: 30px; */
}
.team__list-box.modal .team__list-amount {
  text-align: right;
  margin-bottom: 30px;
  /* border-bottom: 1px dashed #505050; */
  position: relative;
  color: rgba(220, 220, 220, 0.66);
}
.team__list-box.modal .team__list-amount::before {
  font-family: "Oxanium-Regular", sans-serif;
  content: "Объем";
  position: absolute;
  left: 0;
}
.team__list-box.modal .team__list-amount::after {
  content: "";
  position: absolute;
  left: 59px;
  bottom: 6px;
  width: 136px;
  border-bottom: 1px dashed #505050;
}
.team__list-box.modal .team__list-bonus {
  width: auto;
  position: relative;
  color: rgba(220, 220, 220, 0.66);
}
.team__list-box.modal .team__list-bonus::before {
  font-family: "Oxanium-Regular", sans-serif;
  content: "Бонус";
  position: absolute;
  left: 0;
}
.team__list-box.modal .team__list-bonus::after {
    content: "";
    position: absolute;
    left: 53px;
    bottom: 6px;
    width: 131px;
    border-bottom: 1px dashed #505050;
}

.team-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.team-modal__btn {
  position: absolute;
  right: 15px;
  top: 20px;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.team-modal__btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  left: -5px;
  background-color: #3f3f3f;
  transform: rotate(45deg);
}
.team-modal__btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  left: -5px;
  background-color: #3f3f3f;
  transform: rotate(-45deg);
}

.team__list .count {
  position: absolute;
  left: 92px;
  top: 15px;
}
.team__list-item.team__list-item--border > .count {
  left: 44px;
}

.team__list--second .team__list-box {
  background: #16171c;
}
.team__list--third .team__list-box {
  background: #0f0f13;
}
.team__list-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #27282e;
  padding-bottom: 14px;
  padding-left: 70px;
  padding: 14px 23px 14px 70px;
  position: relative;
}
.team__list--five .team__list-box {
  border: none;
}
.team__list--five .team__list-person::after {
  background: none !important;
}
.team__list--five li {
  color: #818181;
}
.team__list-person {
  position: absolute;
}
.team__list-person span {
  display: inline-block;
}
.team__list-item .team__list-person::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -53px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/arrow-right-question.svg);
  background-repeat: no-repeat;
}
.team__list-item.active > .team__list-box .team__list-person::after {
  background-image: url(../images/arrow-down-question.svg);
  top: 80%;
}
.team__list-item.without-arrow > .team__list-box .team__list-person::after {
  background: none;
}
.team__list-amount {
  font-family: "Oxanium", cursive;
  margin-left: auto;
}
.team__list-bonus {
  width: 170px;
  text-align: right;
  font-family: "Oxanium", cursive;
}
.team__list--second .team__list-box {
  padding-left: 120px;
}

.refer-bonus {
}
.refer-bonus__top {
  background: #1b1c21;
  border: 1px solid #27282e;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 17px 20px 23px;
}
.refer-bonus__title {
  font-size: 24px;
  line-height: 30px;
  color: #dcdcdc;
  margin-bottom: 20px;
}
.refer-bonus__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
/* .refer-bonus__item + .refer-bonus__item {
  margin-left: 50px;
} */
.refer-bonus__item-text {
  color: rgba(220, 220, 220, 0.66);
  margin-bottom: 8px;
  
}

.refer-bonus__item-num {
  color: #dcdcdc;
  font-family: "Oxanium", cursive;
}

.refer-bonus__list.active {
  display: block;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 19px;
}

.refer-bonus__list--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
}
.refer-bonus__list-item {
  background: #1b1c21;
  border-radius: 5px;
  color: #dcdcdc;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 5px;
  border: 1px solid #2d2d2e; 
}
.refer-bonus__list-item.active {
  border: 1px solid #00ff376e;
  background-color: #00bf201f;
  padding-right: 30px;
  background-image: url(../images/warning-icon.svg);
  background-repeat: no-repeat;
  background-position: 90%;
}
.refer-bonus__list-item.active.refer-bonus__list-item--first{
  background-color: #1b1c21;
  background-image: none;
}
.refer-bonus__list-text{
  position: relative;
}


.refer-bonus__list-item p {
  /* max-width: 152px; */
  text-overflow: ellipsis;
  /* overflow: hidden; */
  white-space: nowrap;
  cursor: pointer;
  padding: 14px 20px;
  border-radius: 5px;
  z-index: 200;
  
}
.team__tabs-item {
  display: none;
}
.team__tabs-item.team__tabs-content--active {
  display: block;
}

.accent-line {
  position: absolute;
  height: 19px;
  width: 1px;
  left: -12px;
  background-color: #00ff38;
}
.accent-line.bottom::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line.bottom::after {
  content: "";
  position: absolute;
  right: -9px;
  bottom: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line.top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line.top::after {
  content: "";
  position: absolute;
  right: -9px;
  top: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}

.accent-line-second {
  position: absolute;
  height: 19px;
  width: 1px;
  left: -12px;
  background-color: #00ff38;
}
.accent-line-second.bottom::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line-second.bottom::after {
  content: "";
  position: absolute;
  right: -9px;
  bottom: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line-second.top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line-second.top::after {
  content: "";
  position: absolute;
  right: -9px;
  top: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}

.accent-line-third {
  position: absolute;
  height: 19px;
  width: 1px;
  left: -12px;
  background-color: #00ff38;
}
.accent-line-third.bottom::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line-third.bottom::after {
  content: "";
  position: absolute;
  right: -9px;
  bottom: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line-third.top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}
.accent-line-third.top::after {
  content: "";
  position: absolute;
  right: -9px;
  top: 0;
  width: 9px;
  height: 1px;
  background-color: #00ff38;
}

.refer-bonus__list-info{
  /* display: block; */
  display: none;
  padding: 20px 0;
  /* position: absolute; */
  bottom: -80px;
  z-index: 100;
  background-color: #1b1c21;
  width: 100%;
  /* width: 272px; */
}
.refer-bonus__list-info span{
  display: block;
}
.refer-bonus__list-infotelegram{
  margin-bottom: 10px;
}
